.task-list {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  min-height: 62vh;
  animation:
    fadeIn 0.3s ease-in-out,
    fadeInScale 0.3s ease-in-out;

  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    gap: 8px;

    h3 {
      margin: 0;
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .edit-input {
      flex-grow: 1;
      margin-right: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      max-width: 200px;
    }

    .list-actions {
      display: flex;
      gap: 8px;
      flex-shrink: 0;

      button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .tasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    flex-grow: 1;
    padding-right: 8px;
    height: calc(55vh - 120px);
  }

  .add-task {
    display: flex;
    gap: 8px;
    margin-top: 16px;

    .input-task {
      flex-grow: 1;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      background-color: #226f54;
      color: white;
      border: none;
      padding: 0 16px;
      border-radius: 4px;
      cursor: pointer;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #1b5943;
      }
    }
  }
}
